<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/top :: head">
</head>
<head>
    <link href="/static/css/bootstrap3.3.7.min.css" rel="stylesheet" th:href="@{/static/css/bootstrap3.3.7.min.css}"/>
</head>
<body>
<div class="container-fluid" id="main-container">
    <div id="page-content" class="clearfix">
        <div class="row-fluid">
            <div class="row-fluid">
                <!-- 检索  -->
                <div>
                    <span>时间:<p id="time" th:text="${time}"></p></span>
                    <!--<input id="time" name="time" type="text" readonly="readonly" placeholder="开始时间"/>-->
                </div>
                <!-- 检索  -->
                <table id="table_report" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="center">商户别名</th>
                        <th class="center">短信1(条)</th>
                        <th class="center">短信费用1(元)</th>
                        <th class="center">短信2(条)</th>
                        <th class="center">短信费用2(元)</th>
                        <th class="center">有盾(次)</th>
                        <th class="center">有盾费用(元)</th>
                        <th class="center">运营商(次)</th>
                        <th class="center">运营商费用(元)</th>
                        <th class="center">风控</th>
                        <th class="center">风控费用</th>
                        <th class="center">拒量(次)</th>
                        <!--<th class="center">操作</th>-->
                    </tr>
                    </thead>
                    <tbody id="myTable"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- 返回顶部  -->
<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
    <i class="icon-double-angle-up icon-only"></i>
</a>
<script type="text/javascript">
    var contextPath = "[[@{/}]]";
    $(top.hangge());
    var myTable = new MaxTable();
    myTable.initialize({
        table: "myTable",
        id: "id",
        queryUrl: contextPath + "statistics/merchant_fee_statistics_detail_ajax",
        headerColumns: [{
            id: "merchant",
            // renderer : numRenderer
            renderer: function (idValue, value, record) {
                return value ? value : "---";
            }
        }, {
            id: "sms1Count",
            renderer: function (idValue, value, record) {
                return value ? value : "---";
            }
        }, {
            id: "sms1Fee",
            renderer: function (idValue, value, record) {
                return value ? value : "---";
            }
        }, {
            id: "sms2Count",
            renderer: function (idValue, value, record) {
                return value ? value : "---";
            }
        }, {
            id: "sms2Fee",
            renderer: function (idValue, value, record) {
                return value ? value : "---";
            }
        }, {
            id: "youdunCount",
            renderer: function (idValue, value, record) {
                return value ? value : "---";
            }
        }, {
            id: "youdunFee",
            renderer: function (idValue, value, record) {
                return value ? value : "---";
            }
        }, {
            id: "operatorCount",
            renderer: function (idValue, value, record) {
                return value ? value : "---";
            }
        }, {
            id: "operatorCount",
            renderer: function (idValue, value, record) {
                return value ? value : "---";
            }
        }, {
            id: "operatorFee",
            renderer: function (idValue, value, record) {
                return value ? value : "---";
            }
        }, {
            id: "riskCount",
            renderer: function (idValue, value, record) {
                return value ? value : "---";
            }
        }, {
            id: "riskFee",
            renderer: function (idValue, value, record) {
                return value ? value : "---";
            }
        }, {
            id: "riskFee",
            renderer: function (idValue, value, record) {
                return value ? value : "---";
            }
        }]
    });
    var time=$("#time").text();
    function initQuery() {
        myTable.page.totalRowNum = 0;
        myTable.onLoad({
            time:time
        });
    }

    initQuery();

</script>
</body>
</html>
