<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/top :: head">
</head>
<head>
<link href="/static/css/bootstrap3.3.7.min.css" rel="stylesheet"  th:href="@{/static/css/bootstrap3.3.7.min.css}"/>
</head>
<body>
	<div id="zhongxin" align="center">
		<hr />
		<form name="myForm" id="myForm">
			<fieldset>
				<legend>修改</legend>
			</fieldset>
				<table>
					<tr>
						<td>
							<label class="col-sm-2 control-label">图片</label>
						</td>
						<td>
							<input name="id" id="id" type="hidden" />
							<label id="imgSample"></label>
							<textarea name="channelImg" id="channelImg" maxlength="500" class="form-control" style="resize:none; width: 250px; height: 117px;"></textarea>
						</td>
						<td>
							<input type="file" name="file_upload" id="file_upload" style="display:none;" />
							<a class="btn btn-mini btn-info" title="上传图片" onclick="uploadFile('file_upload','channelImg')">上传图片</a>
							<img src="/static/images/loadingi.gif" id="jzdh" style="opacity: 0;" />
						</td>
					</tr>
					<tr>
						<td>
							<label class="col-sm-2 control-label">商品名称</label>
						</td>
						<td>
							<input name="channelName" id="channelName" class="form-control" />
						</td>
					</tr>
					<tr>
						<td>
							<label class="col-sm-2 control-label">商品链接</label>
						</td>
						<td>
							<textarea name="channelUrl" id="channelUrl" maxlength="500" class="form-control" style="resize:none; width: 250px; height: 117px;"></textarea>
						</td>
					</tr>
					<tr>
						<td>
							<label class="col-sm-2 control-label">商品排序</label>
						</td>
						<td>
							<input name="idx" id="idx" class="form-control" />
						</td>
					</tr>
					<tr>
						<td>
							<label class="col-sm-2 control-label">状态</label>
						</td>
						<td>
							<select name="status" id="status" class="form-control">
								<option value="0">禁用</option>
								<option value="1">启用</option>
							</select>
						</td>
					</tr>
				</table>
		</form>
		<div>
			<a class="btn btn-mini btn-primary" id="saveButton">保存</a>
			<a class="btn btn-mini btn-danger" onclick="top.Dialog.close()">取消</a>
		</div>
	</div>
	<script type="text/javascript">
		var id = queryUrlParam("id");
		var contextPath="[[@{/}]]";
		
		function getAllMessage(){
			$.post(contextPath+"product/channel_detail_ajax",{"id":id},function(data){
				var obj = data.data.channel;
				$("#imgSample").html("<img src='" + obj.channelImg + "' width='200' height='200' />");
				$("#id").val(obj.id);
				$("#channelName").val(obj.channelName);		
				$("#channelImg").val(obj.channelImg ? obj.channelImg : "");
				$("#channelUrl").val(obj.channelUrl ? obj.channelUrl : "");
                $("#idx").val(obj.idx);
                $("#status").val(obj.status);
			});
		}
		getAllMessage();
		
		$(top.hangge());
		$("#saveButton").unbind();
		$("#saveButton").bind("click",function(){
			$.ajax({
        		url : contextPath+"product/channel_update_ajax",
        		type : "POST",
				dataType : "json",
				data : $("#myForm").serialize(),
				success : function(data) {
					if(data.status == 2000){
						Dialog.alert("操作成功",function(){
							Dialog.close();
						});
					}else{
						Dialog.alert(data.message);
					}
				}
			});
		});
		
		function uploadFile(fileId,target){
			$("#" + fileId).off("change").on("change", function (e) {
				var file = e.target.files[0];
	            // 显示加载动画
	            $("#jzdh").attr("style","opacity: 1;");
	            uploadFileOSS(file,function(data){
	            	// 隐藏加载动画
	                $("#jzdh").attr("style","opacity: 0;");
	             	// 置空文件选择器
					$("#" + fileId).val("");
	            	if(data.status == 2000){
						Dialog.alert("上传成功",function(){
			                //成功后回显图片
			                $("#imgSample").html("<img src='"+data.data.absolutePath+ "' width='200' />");
			                $("#"+target).val(data.data.absolutePath);
						});
					}else{
						Dialog.alert(data.message);
					}
	            });
			});
			
			setTimeout(function(){
				$("#" + fileId).click();
			}, 0);
		}
	</script>
</body>
</html>
