<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mod.loan.mapper.MerchantManagerMapper">
	<resultMap id="BaseResultMap" type="com.mod.loan.model.MerchantManager">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="merchant" jdbcType="VARCHAR" property="merchant" />
		<result column="role_id" jdbcType="BIGINT" property="roleId" />
		<result column="login_name" jdbcType="VARCHAR" property="loginName" />
		<result column="login_password" jdbcType="VARCHAR" property="loginPassword" />
		<result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		<result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
		<result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
		<result column="account_status" jdbcType="TINYINT" property="accountStatus" />
		<result column="account_type" jdbcType="TINYINT" property="accountType" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>
</mapper>