<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/top :: head">
</head>
<head>
    <link href="/static/css/bootstrap3.3.7.min.css" rel="stylesheet" th:href="@{/static/css/bootstrap3.3.7.min.css}"/>
    <style type="text/css">
        .hlb {
            display: none;
        }

        .fy {
            display: none;
        }
    </style>
</head>
<body>
<div id="zhongxin" align="center">
    <hr/>
    <form name="myForm" id="myForm">
        <fieldset>
            <legend>修改</legend>
        </fieldset>
        <table>
            <tr>
                <label class="my_label_checkbox" style="margin-right: 20px"><input id="pay" type="checkbox" onclick="payChecked()"/><span
                        class="lbl"></span>放款</label>
                <label class="my_label_checkbox"><input id="repay" type="checkbox" onclick="repayChecked()"/><span
                        class="lbl"></span>还款</label>
                <td>
                    <label class="col-sm-2 control-label">富友商户id</label>
                </td>
                <td>
                    <input name="fuyou_merid" id="fuyou_merid" maxlength="30" class="form-control" required="required"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-sm-2 control-label">富友代收付交易密钥</label>
                </td>
                <td>
                    <textarea name="fuyou_secureid" id="fuyou_secureid" class="form-control"
                              style="resize:none; width: 300px; height: 300px;" required="required"></textarea>
                </td>
            </tr><tr>
            <td>
                <label class="col-sm-2 control-label">协议支付交易密钥</label>
            </td>
            <td>
                    <textarea name="fuyou_h5key" id="fuyou_h5key" class="form-control"
                              style="resize:none; width: 300px; height: 300px;" required="required"></textarea>
            </td>
        </tr>
        </table>
    </form>
    <div>
        <a class="btn btn-mini btn-primary" id="saveButton">保存</a>
        <a class="btn btn-mini btn-danger" onclick="top.Dialog.close()">取消</a>
    </div>
</div>
<script type="text/javascript">
    var contextPath = "[[@{/}]]";
    var merchantAlias = '[[${merchantAlias}]]';
    var merchantArr = ['helibao','fuyou','huiju','yeepay','changjie','kuaiqian','huichao'];
    var merchantChannels;

    function payChecked() {
        if ($("#pay").prop("checked")) {
            merchantChannels.fuyou.pay = 1;
        } else {
            merchantChannels.fuyou.pay = 0;
        }
    }

    function repayChecked() {
        if ($("#repay").prop("checked")) {
            merchantChannels.fuyou.repay = 1;
        } else {
            merchantChannels.fuyou.repay = 0;
        }
    }
    $("#saveButton").unbind();

    $("#saveButton").bind("click", function () {
        var fuyou_merid = $("#fuyou_merid").val();
        var fuyou_secureid = $("#fuyou_secureid").val();
        var fuyou_h5key = $("#fuyou_h5key").val();
        if ($("#pay").prop("checked")) {
            if (fuyou_merid == "") {
                $("#fuyou_merid").tips({
                    side: 3,
                    msg: "请输入富友商户id",
                    bg: "#AE81FF",
                    time: 2
                });
                $("#fuyou_merid").focus();
                return false;
            }
            if (fuyou_secureid == "") {
                $("#fuyou_secureid").tips({
                    side: 3,
                    msg: "请输入富友代收付交易密钥",
                    bg: "#AE81FF",
                    time: 2
                });
                $("#fuyou_secureid").focus();
                return false;
            }
            if (fuyou_h5key == "") {
                $("#fuyou_h5key").tips({
                    side: 3,
                    msg: "请输入协议支付交易密钥",
                    bg: "#AE81FF",
                    time: 2
                });
                $("#fuyou_h5key").focus();
                return false;
            }
        }
        if ($("#repay").prop("checked")) {
            if (fuyou_merid == "") {
                $("#fuyou_merid").tips({
                    side: 3,
                    msg: "请输入富友商户id",
                    bg: "#AE81FF",
                    time: 2
                });
                $("#fuyou_merid").focus();
                return false;
            }
            if (fuyou_secureid == "") {
                $("#fuyou_secureid").tips({
                    side: 3,
                    msg: "请输入富友代收付交易密钥",
                    bg: "#AE81FF",
                    time: 2
                });
                $("#fuyou_secureid").focus();
                return false;
            }
            if (fuyou_h5key == "") {
                $("#fuyou_h5key").tips({
                    side: 3,
                    msg: "请输入协议支付交易密钥",
                    bg: "#AE81FF",
                    time: 2
                });
                $("#fuyou_h5key").focus();
                return false;
            }
        }


        var myTable = $("#myForm").serialize() + "&merchantChannels=" + JSON.stringify(merchantChannels) + "&merchantAlias=" + merchantAlias;
        $.ajax({
            url: contextPath + "merchant/edit_merchant_channel_ajax",
            type: "POST",
            dataType: "json",
            data: myTable,
            success: function (data) {
                if (data.status == 2000) {
                    Dialog.alert("操作成功", function () {
                        Dialog.close();
                    });
                } else {
                    Dialog.alert(data.message);
                }
            }
        });
    });

    function getAllMessage() {
        $.post(contextPath + "merchant/find_merchant_channel_ajax", {"merchantAlias": merchantAlias}, function (data) {
            var obj = data.data;
            $("#fuyou_merid").val(obj.fuyou_merid);
            $("#fuyou_secureid").val(obj.fuyou_secureid);
            $("#fuyou_h5key").val(obj.fuyou_h5key);
            merchantChannels = JSON.parse(obj.merchantChannel);
            if (merchantChannels == null) {
                merchantChannels = JSON.parse("{\"helibao\":{\"pay\":0,\"repay\":0},\"fuyou\":{\"pay\":0,\"repay\":0},\"huiju\":{\"pay\":0,\"repay\":0}, \"yeepay\":{\"pay\":0,\"repay\":0}, \"changjie\":{\"pay\":0,\"repay\":0}, \"kuaiqian\":{\"pay\":0,\"repay\":0},\"huichao\":{\"weixinpay\":0,\"weixinrepay\":0,\"alipaypay\":0,\"alipayrepay\":0,\"pay\":0,\"repay\":0}}");
                $("#pay").prop('checked', false);
                $("#repay").prop('checked', false);
            }
            if (merchantChannels.fuyou.pay == undefined) {
                if (merchantChannels.helibao == 1 && merchantChannels.fuyou == 1) {
                    merchantChannels = JSON.parse("{\"helibao\":{\"pay\":1,\"repay\":1},\"fuyou\":{\"pay\":1,\"repay\":1},\"fuyou\":{\"pay\":0,\"repay\":0}}");
                    $("#pay").prop('checked', true);
                    $("#repay").prop('checked', true);
                }
                for(var key in merchantArr) {
                    if (merchantArr[key] == 'huichao') {
                        if (merchantChannels.huichao == undefined) {
                            merchantChannels[merchantArr[key]] = {weixinpay:0,weixinrepay:0,alipaypay:0,alipayrepay:0,pay:0,repay:0};
                        }
                    } else {
                        if (merchantChannels.helibao == undefined || merchantChannels.fuyou == undefined || merchantChannels.huiju == undefined
                            || merchantChannels.yeepay == undefined || merchantChannels.changjie == undefined || merchantChannels.kuaiqian == undefined) {
                            merchantChannels[merchantArr[key]] = {pay:0,repay:0};
                        }
                    }
                }
            }
            if (merchantChannels.fuyou.pay != undefined && merchantChannels.fuyou.pay != null) {
                if (merchantChannels.fuyou.pay == 1) {
                    $("#pay").prop('checked', true);
                } else {
                    $("#pay").prop('checked', false);
                }
                if (merchantChannels.fuyou.repay == 1) {
                    $("#repay").prop('checked', true);
                } else {
                    $("#repay").prop('checked', false);
                }
            }

        });
    }
    getAllMessage();
</script>
</body>
</html>
