<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/top :: head">
</head>
<head>
    <link href="/static/css/bootstrap3.3.7.min.css" rel="stylesheet" th:href="@{/static/css/bootstrap3.3.7.min.css}"/>
    <style type="text/css">
        .hlb {
            display: none;
        }

        .fy {
            display: none;
        }
    </style>
</head>
<body>
<div id="zhongxin" align="center">
    <hr/>
    <form name="myForm" id="myForm">
        <fieldset>
            <legend>修改</legend>
        </fieldset>
        <table>
            <tr>
                <label class="my_label_checkbox" style="margin-right: 20px"><input id="pay" type="checkbox" onclick="payChecked()"/><span
                        class="lbl"></span>放款</label>
                <label class="my_label_checkbox"><input id="repay" type="checkbox" onclick="repayChecked()"/><span
                        class="lbl"></span>还款</label>
                <td>
                    <label class="col-sm-2 control-label">合利宝id</label>
                </td>
                <td>
                    <input name="hlb_id" id="hlb_id" maxlength="30" placeholder="合利宝商户编号" class="form-control"
                           required="required"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-sm-2 control-label">合利宝商户签名</label>
                </td>
                <td>
                    <input name="hlbMerchantSign" id="hlbMerchantSign" maxlength="128" placeholder="合利宝商户端签名sign"
                           class="form-control" required="required"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-sm-2 control-label">合利宝rsa私钥</label>
                </td>
                <td>
                    <textarea name="hlb_rsa_private_key" id="hlb_rsa_private_key" class="form-control"
                              style="resize:none; width: 300px; height: 140px;" placeholder="合利宝rsa签名私钥"
                              required="required"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-sm-2 control-label">委托代付签名</label>
                </td>
                <td>
                    <input name="hlbEntrustedSignKey" id="hlbEntrustedSignKey" class="form-control" maxlength="64"
                           placeholder="合利宝委托代付签名signKey" required="required"></input>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-sm-2 control-label">委托代付私钥</label>
                </td>
                <td>
                    <textarea name="hlbEntrustedPrivateKey" id="hlbEntrustedPrivateKey" class="form-control" maxlength="1024"
                              style="resize:none; width: 300px; height: 140px;" placeholder="合利宝委托代付私钥" required="required"></textarea>
                </td>
            </tr>
        </table>
    </form>
    <div>
        <a class="btn btn-mini btn-primary" id="saveButton">保存</a>
        <a class="btn btn-mini btn-danger" onclick="top.Dialog.close()">取消</a>
    </div>
</div>
<script type="text/javascript">
    var contextPath = "[[@{/}]]";
    var merchantAlias = '[[${merchantAlias}]]';
    var merchantArr = ['helibao', 'fuyou', 'huiju', 'yeepay', 'changjie', 'kuaiqian', 'huichao', 'jinyuntong'];
    var merchantChannels;

    function payChecked() {
        if ($("#pay").prop("checked")) {
            merchantChannels.helibao.pay = 1;
        } else {
            merchantChannels.helibao.pay = 0;
        }
    }

    function repayChecked() {
        if ($("#repay").prop("checked")) {
            merchantChannels.helibao.repay = 1;
        } else {
            merchantChannels.helibao.repay = 0;
        }
    }

    $("#saveButton").unbind();

    $("#saveButton").bind("click", function () {
        var hlb_id = $("#hlb_id").val();
        var hlb_rsa_private_key = $("#hlb_rsa_private_key").val();
        var hlbMerchantSign = $("#hlbMerchantSign").val();
        var hlbEntrustedSignKey = $("#hlbEntrustedSignKey").val();
        var hlbEntrustedPrivateKey = $("#hlbEntrustedPrivateKey").val();
        if ($("#pay").prop("checked")) {
            if (hlb_id == "") {
                $("#hlb_id").tips({
                    side: 3,
                    msg: "请输入合利宝id",
                    bg: "#AE81FF",
                    time: 2
                });
                $("#hlb_id").focus();
                return false;
            }
            if (hlb_rsa_private_key == "") {
                $("#hlb_rsa_private_key").tips({
                    side: 3,
                    msg: "请输入合利宝rsa私钥",
                    bg: "#AE81FF",
                    time: 2
                });
                $("#hlb_rsa_private_key").focus();
                return false;
            }
            if (hlbMerchantSign == "") {
                $("#hlbMerchantSign").tips({
                    side: 3,
                    msg: "请输入合利宝商户签名",
                    bg: "#AE81FF",
                    time: 2
                });
                $("#hlbMerchantSign").focus();
                return false;
            }
            if (hlbEntrustedSignKey == "" && hlbEntrustedPrivateKey != ""){
                $("#hlb_entrusted_sign_key").tips({
                    side: 3,
                    msg: "请输入合利宝代付签名",
                    bg: "#AE81FF",
                    time: 2
                });
                $("#hlbEntrustedSignKey").focus();
                return false;
            }
            if(hlbEntrustedSignKey != "" && hlbEntrustedPrivateKey == ""){
                $("#hlb_entrusted_private_key").tips({
                    side: 3,
                    msg: "请输入合利宝代付私钥",
                    bg: "#AE81FF",
                    time: 2
                });
                $("#hlbEntrustedPrivateKey").focus();
                return false;
            }
        }
        if ($("#repay").prop("checked")) {
            if (hlb_id == "") {
                $("#hlb_id").tips({
                    side: 3,
                    msg: "请输入合利宝id",
                    bg: "#AE81FF",
                    time: 2
                });
                $("#hlb_id").focus();
                return false;
            }
            if (hlb_rsa_private_key == "") {
                $("#hlb_rsa_private_key").tips({
                    side: 3,
                    msg: "请输入合利宝rsa私钥",
                    bg: "#AE81FF",
                    time: 2
                });
                $("#hlb_rsa_private_key").focus();
                return false;
            }
            if (hlbMerchantSign == "") {
                $("#hlb_merchant_sign").tips({
                    side: 3,
                    msg: "请输入合利宝商户签名",
                    bg: "#AE81FF",
                    time: 2
                });
                $("#hlbMerchantSign").focus();
                return false;
            }
            if (hlbEntrustedSignKey == "" && hlbEntrustedPrivateKey != ""){
                    $("#hlb_entrusted_sign_key").tips({
                        side: 3,
                        msg: "请输入合利宝代付签名",
                        bg: "#AE81FF",
                        time: 2
                    });
                    $("#hlbEntrustedSignKey").focus();
                    return false;
            }
            if(hlbEntrustedSignKey != "" && hlbEntrustedPrivateKey == ""){
                    $("#hlb_entrusted_private_key").tips({
                        side: 3,
                        msg: "请输入合利宝代付私钥",
                        bg: "#AE81FF",
                        time: 2
                    });
                    $("#hlbEntrustedPrivateKey").focus();
                    return false;
            }
        }


        var myTable = $("#myForm").serialize() + "&merchantChannels=" + JSON.stringify(merchantChannels) + "&merchantAlias=" + merchantAlias;
        $.ajax({
            url: contextPath + "merchant/edit_merchant_channel_ajax",
            type: "POST",
            dataType: "json",
            data: myTable,
            success: function (data) {
                if (data.status == 2000) {
                    Dialog.alert("操作成功", function () {
                        Dialog.close();
                    });
                } else {
                    Dialog.alert(data.message);
                }
            }
        });
    });

    function getAllMessage() {
        $.post(contextPath + "merchant/find_merchant_channel_ajax", {"merchantAlias": merchantAlias}, function (data) {
            var obj = data.data;
            $("#hlb_id").val(obj.hlb_id);
            $("#hlb_rsa_private_key").val(obj.hlb_rsa_private_key);
            $("#hlbMerchantSign").val(obj.hlbMerchantSign);

            $("#hlbEntrustedSignKey").val(obj.hlbEntrustedSignKey);
            $("#hlbEntrustedPrivateKey").val(obj.hlbEntrustedPrivateKey);
            merchantChannels = JSON.parse(obj.merchantChannel);
            if (merchantChannels == null) {
                merchantChannels = JSON.parse("{\"helibao\":{\"pay\":0,\"repay\":0}, \"fuyou\":{\"pay\":0,\"repay\":0}, \"huiju\":{\"pay\":0,\"repay\":0}, \"yeepay\":{\"pay\":0,\"repay\":0}, \"changjie\":{\"pay\":0,\"repay\":0}, \"kuaiqian\":{\"pay\":0,\"repay\":0}, \"huichao\":{\"weixinpay\":0,\"weixinrepay\":0,\"alipaypay\":0,\"alipayrepay\":0,\"pay\":0,\"repay\":0}, \"jinyuntong\":{\"pay\":0,\"repay\":0}}");
                $("#pay").prop('checked', false);
                $("#repay").prop('checked', false);
            }

            for(var key in merchantArr) {
                if (merchantArr[key] == 'huichao') {
                    if (merchantChannels.huichao == undefined) {
                        merchantChannels[merchantArr[key]] = {weixinpay:0,weixinrepay:0,alipaypay:0,alipayrepay:0,pay:0,repay:0};
                    }
                } else {
                    if (merchantChannels.helibao == undefined || merchantChannels.fuyou == undefined || merchantChannels.huiju == undefined
                        || merchantChannels.yeepay == undefined || merchantChannels.changjie == undefined || merchantChannels.kuaiqian == undefined
                        || merchantChannels.jinyuntong == undefined) {
                        merchantChannels[merchantArr[key]] = {pay:0,repay:0};
                    }
                }
            }

            if (merchantChannels.helibao.pay != undefined && merchantChannels.helibao.pay != null) {
                if (merchantChannels.helibao.pay == 1) {
                    $("#pay").prop('checked', true);
                } else {
                    $("#pay").prop('checked', false);
                }
                if (merchantChannels.helibao.repay == 1) {
                    $("#repay").prop('checked', true);
                } else {
                    $("#repay").prop('checked', false);
                }
            }
        });
    }

    getAllMessage();
</script>
</body>
</html>
