<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/top :: head">
</head>
<head>
<link href="/static/css/bootstrap3.3.7.min.css" rel="stylesheet"  th:href="@{/static/css/bootstrap3.3.7.min.css}"/>
</head>
<body>
	<div id="zhongxin" align="center">
		<hr />
		<form name="myForm" id="myForm">
			<fieldset>
				<legend>修改</legend>
			</fieldset>
			<table>
				<tr style="display: none">
					<td>
						<label class="col-sm-2 control-label">ID</label>
					</td>
					<td>
						<!--<label id="imgSample"></label>-->
						<input name="id" id="id"   class="form-control"required="required" />
					</td>
				</tr>
				<tr>
					<td>
						<label class="col-sm-2 control-label">商户名</label>
					</td>
					<td>
						<!--<label id="imgSample"></label>-->
						<input name="merchant" id="merchant"   class="form-control"required="required" />
					</td>
				</tr>
				<tr>
					<td>
						<label class="col-sm-2 control-label">风控默认token</label>
					</td>
					<td>
						<textarea  name="mxRiskToken" id="mxRiskToken"  rows="1"  style="height: 150px;" class="form-control" ></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<label class="col-sm-2 control-label">风控续借token</label>
					</td>
					<td>
						<input name="mxRiskRenewToken" id="mxRiskRenewToken"  class="form-control" />
					</td>
				</tr>
				<tr>
					<td>
						<label class="col-sm-2 control-label">h5地址</label>
					</td>
					<td>
						<input name="h5Url" id="h5Url"  class="form-control"  placeholder="产品链接">
					</td>
				</tr>
				<tr>
					<td>
						<label class="col-sm-2 control-label">加入黑名单逾期天数</label>
					</td>
					<td>
						<input name="overdueBlacklistDay" id="overdueBlacklistDay"  class="form-control" required="required" />
					</td>
				</tr>
				<tr>
					<td>
						<label class="col-sm-2 control-label">地址、公司拒绝关键字</label>
					</td>
					<td>
						<textarea  name="rejectKeyword" id="rejectKeyword"  rows="1"  style="height: 80px;" class="form-control" required="required" placeholder="请使用，隔开关键字"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<label class="col-sm-2 control-label">自动提单</label>
					</td>
					<td>
						<!--<input name="productIdx" id="productIdx" maxlength="10" class="form-control" required="required" onkeyup="value=/^\d{0,9}$/.test(value)?value:''" onblur="value=/^\d{0,9}$/.test(value)?value:''" />-->
						<select name="autoApplyOrder" id="autoApplyOrder" class="form-control">
							<option value="0">手动</option>
							<option value="1">自动</option>
						</select>
					</td>
				</tr>
                <tr>
                    <td>
                        <label class="col-sm-2 control-label">是否需要确认借款</label>
                    </td>
                    <td>
                        <select name="userPayConfirm" id="userPayConfirm" class="form-control">
                            <option value="0" selected="selected">不需要</option>
                            <option value="1">需要</option>
                        </select>
                    </td>
                </tr>
				<tr>
					<td>
						<label class="col-sm-2 control-label">客服电话</label>
					</td>
					<td>
						<input name="servicePhone" id="servicePhone" maxlength="11" class="form-control"  />

					</td>
				</tr>
				<tr>
					<td>
						<label class="col-sm-2 control-label">认证失效天数</label>
					</td>
					<td>
						<input name="identInvalidDay" id="identInvalidDay"  class="form-control" required="required" width="40px"/>
					</td>
				</tr>
				<tr>
					<td>
						<label class="col-sm-2 control-label">流量注册</label>
					</td>
					<td>
						<select name="defaultOriginStatus" id="defaultOriginStatus" class="form-control">
							<option value="0">拒绝</option>
							<option value="1">允许</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label class="col-sm-2 control-label">最大逾期费费率</label>
					</td>
					<td>

						<input name="maxOverdueFeeRate" id="maxOverdueFeeRate"  class="form-control" required="required" />
					</td>
				</tr>
				<tr>
					<td>
						<label class="col-sm-2 control-label">公债检查商户</label>
					</td>
					<td>

						<input name="multiLoanMerchant" id="multiLoanMerchant"  class="form-control" placeholder="多个商户请用，号隔开"/>
					</td>
				</tr>
				<tr>
					<td>
						<label class="col-sm-2 control-label">允许的公债系统个数</label>
					</td>
					<td>

						<input name="multiLoanCount" id="multiLoanCount"  class="form-control"  value="0" required="required" />
					</td>
				</tr>
			</table>
		</form>
		<div>
			<a class="btn btn-mini btn-primary" id="saveButton">保存</a>
			<a class="btn btn-mini btn-danger" onclick="top.Dialog.close()">取消</a>
		</div>
	</div>
	<script type="text/javascript">
		var contextPath="[[@{/}]]";
		$(top.hangge());
		$("#saveButton").unbind();
		$("#saveButton").bind("click",function(){
			$.ajax({
        		url : contextPath+"merchant_config/merchant_config_add_ajax",
        		type : "POST",
				dataType : "json",
				data : $("#myForm").serialize(),
				success : function(data) {
					if(data.status == 2000){
						Dialog.alert("操作成功",function(){
							Dialog.close();
						});
					}else{
						Dialog.alert(data.message);
					}
				}
			});
		});
		
		var id = [[${id}]];
		function getAllMessage(){
			$.post(contextPath+"merchant_config/find_merchant_config_byId",{"id":id},function(data){
				var obj=data.data;
				$("#id").val(obj.id);
				$("#merchant").val(obj.merchant);
				$("#mxRiskToken").val(obj.mxRiskToken);
				$("#mxRiskRenewToken").val(obj.mxRiskRenewToken);
				$("#h5Url").val(obj.h5Url);
				$("#overdueBlacklistDay").val(obj.overdueBlacklistDay);
				$("#rejectKeyword").val(obj.rejectKeyword);
				$("#identInvalidDay").val(obj.identInvalidDay);
				$("#autoApplyOrder").val(obj.autoApplyOrder);
				$("#servicePhone").val(obj.servicePhone);
				$("#defaultOriginStatus").val(obj.defaultOriginStatus);
				$("#maxOverdueFeeRate").val(obj.maxOverdueFeeRate);
                $("#userPayConfirm").val(obj.userPayConfirm);
                $("#multiLoanMerchant").val(obj.multiLoanMerchant);
                $("#multiLoanCount").val(obj.multiLoanCount);
			});
		}
		
		$.post(contextPath+"market/module_able_list",{},function(obj){
			var list = obj.data;
			$.each(list,function(i){
				$("#moduleId").append("<option value='"+list[i].id+"'>"+list[i].moduleName+"</option>");
			});
			getAllMessage();
		});
	</script>
</body>
</html>
