<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/top :: head">
</head>
<head>
<link href="/static/css/bootstrap3.3.7.min.css" rel="stylesheet"  th:href="@{/static/css/bootstrap3.3.7.min.css}"/>
</head>
<body>
	<div id="zhongxin" align="center">
		<hr />
		<form action="" name="myForm" id="myForm" method="post">
			<fieldset>
				<legend>新增商户提额配置</legend>
            </fieldset>
            <table>
                <tr>
                    <td>
                        <label class="col-sm-2 control-label">额度名称</label>
                    </td>
                    <td>
                        <select name="quotaName" id="quotaName" class="form-control">
                            <option value="天机分">天机分</option>
                            <option value="展期次数">展期次数</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="col-sm-2 control-label">提升额度</label>
                    </td>
                    <td>
                        <input name="quotaValue"  id="quotaValue" maxlength="20" class="form-control" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="col-sm-2 control-label">字段比较符</label>
                    </td>
                    <td>
                        <select name="comparator" id="comparator" class="form-control">
                            <option value="eq">eq</option>
                            <option value="gt">gt</option>
                            <option value="lt">lt</option>
                            <option value="gte">gte</option>
                            <option value="lte">lte</option>
                            <option value="range">range</option>
                            <option value="in">in</option>
                            <option value="exists">exists</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="col-sm-2 control-label">预设值</label>
                    </td>
                    <td>
                        <input name="presetValue" id="presetValue" maxlength="20" class="form-control" required="required"/>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="col-sm-2 control-label">商户别名</label>
                    </td>
                    <td>
                        <input name="merchant" id="merchant" maxlength="20" class="form-control" required="required"/>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="col-sm-2 control-label">借款次数</label>
                    </td>
                    <td>
                        <input name="borrowType" id="borrowType" maxlength="20" class="form-control" required="required"/>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="col-sm-2 control-label">状态</label>
                    </td>
                    <td>
                        <select name="status" id="status" class="form-control">
                            <option value="1">正常</option>
                            <option value="0">停用</option>
                        </select>
                    </td>
                </tr>

            </table>
		</form>
		<div>
			<a class="btn btn-mini btn-primary" id="saveButton">保存</a>
			<a class="btn btn-mini btn-danger" onclick="top.Dialog.close()">取消</a>
		</div>
	</div>
	<script type="text/javascript">
		var contextPath="[[@{/}]]";
		$(top.hangge());
		$("#saveButton").unbind();
		$("#saveButton").bind("click",function(){
			if(!$("#quotaName").val()){
				Dialog.alert("请输入额度名称");
				return;
			}
			if(!$("#quotaValue").val()){
				Dialog.alert("请输入提升额度");
				return;
			}

            if(!$("#presetValue").val()){
                Dialog.alert("请输入预设值");
                return;
            }

            if(!$("#merchant").val()){
                Dialog.alert("请输入商户别名");
                return;
            }

            if(!$("#borrowType").val()){
                Dialog.alert("请输入借款次数");
                return;
            }


			$.ajax({
        		url : contextPath+"merchant/quota_edit_ajax",
        		type : "POST",
				dataType : "json",
				data : $("#myForm").serialize(),
				success : function(jsonObject) {
					if(jsonObject.status == "2000"){
						Dialog.alert(jsonObject.message,function(){
							Dialog.close();
						});
					}else{
						Dialog.alert(jsonObject.message);
					}
				}
			});
		});
	</script>
</body>
</html>